.bg {
  background-color: #121E2C;
}

.text {
  color: #D8E0E9;
}

.bg2 {
  background-color: #1F2E40;
}
.green {
  background-color: (7,171,103);
}


.step {
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 30px;
}